<!DOCTYPE html>
<html ng-app="">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
  <div data-ng-show='user.errorMessage'>
	<div class="alert alert-danger fade in">{{user.errorMessage}}</div>
  </div>
  
  <form data-ng-submit="submit()" name="myForm" class="form-horizontal">
    
        <!-- Form Name -->
        <h2 style="text-align:center">Register page</h2>
        <!-- Text input-->
       

		<!-- Text input-->
        <div class="form-group" >
          <label class="col-md-4 control-label" for="username" >UserName</label>  
          <div class="col-md-4">
         <input type="text" data-ng-model="user.uName" id="username" class="userid form-control input-sm"
										placeholder="Enter your username" required ng-minlength="3" />
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group" >
          <label class="col-md-4 control-label" for="firstname" >FirstName</label>  
          <div class="col-md-4">
         <input type="text" data-ng-model="user.fName" id="firstname" class="userid form-control input-sm" placeholder="Enter your first name" required ng-minlength="3" />
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="lastname">LastName</label>  
          <div class="col-md-4">
         <input type="text" data-ng-model="user.lName" id="lastname" class="username form-control input-sm" placeholder="Enter your last name" required ng-minlength="3" />
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="pass">Password </label>
          <div class="col-md-4">
          <input type="password" data-ng-model="user.password" id="pass" class="username form-control input-sm" placeholder="Enter password" required ng-minlength="3" />
          </div>
        </div>
		
		<!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="confirmpass">Confirm Password </label>
          <div class="col-md-4">
          <input type="password" id="confirmpass" class="username form-control input-sm" placeholder="Enter confirm password" required ng-minlength="3" />
          </div>
        </div>
        
        <!-- Date input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dob">Date of Birth</label>
          <div class="col-md-4">
            <input type="date" id="dob" class="username form-control input-sm" data-ng-model="user.dob" />
          </div>
        </div>

        <!-- email input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-4">
           <input type="email" data-ng-model="user.emailId" id="email" class="email form-control input-sm"
										placeholder="Enter your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="contact">mobile</label>  
          <div class="col-md-4">
          <input type="tel" data-ng-model="user.phoneNo" id="contact"
										class="mobile form-control input-sm"
										placeholder="Enter your contact number" pattern="[9|7|8][0-9]{9}" required />
    
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="gen">Gender</label> 
            <div class="col-md-4">
            	<div class="radio">
								<label class="radio-inline"> <input type="radio" id="gen"
									name="role" value="Male" data-ng-model="user.gen" >
									Male
								</label> 
								<label class="radio-inline"> <input type="radio" id="gen"
									name="role" value="Female" data-ng-model="user.gen" >
									Female
								</label> 
				</div>
            </div> 
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>  
          <div class="col-md-4">
          <input type="text" width="100" height="50"
										data-ng-model="user.address" id="address"
										class="form-control input-sm"
										placeholder="Enter your Address" />
    
          </div>
        </div>
    <div class="form-group">
          <label class="col-md-4 control-label" for="name" style="text-color:white">Role</label>  
          <div class="col-md-4">
         <div class="container">
			<div class="radio">
			  <label class="radio-inline"> <input type="radio" id="Role" name="role" value="STUDENT" data-ng-model="user.role">
			     Student
			  </label> 
			  <label class="radio-inline"> <input type="radio" id="Role" name="role" value="ALUMINI" data-ng-model="user.role">
			   Alumni
			  </label> 
			  <label class="radio-inline"> <input type="radio" id="Role" name="role" value="EMPLOYEE" data-ng-model="user.role" >
			   Employee
			  </label>
			</div>
          </div>
        </div>
        </div>
       
        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-8">
            <button id="save" type="submit" name="save" onclick="Validate()" class="btn btn-success">Save</button>
           
          </div>
        </div>
         </form>
          <div style="text-align:center">
          <p style="text-color:white">Already registered login here</p>
           <a href="#/login"> <button   class="btn btn-primary">Login</button></a>
          </div>

	<script>
		function Validate() {
			var password = document.getElementById("pass").value;
			var confirmpass = document.getElementById("confirmpass").value;
			if (password != confirmpass) {
				alert("Password does Not Match.");
				return false;
			}
			return true;
		}
	</script>
</body>
</html>